{% load static %}

<footer class="py-4 bg-light mb-auto">
    <div class="d-flex align-items-center justify-content-between small" style="padding-left:300px;">
        <p>Copyright &copy;2024 <span style="color:#0fa8e2; font-weight:bolder;">Inventory Management System </span> 
            &nbsp; All Rights Reserved &nbsp;|&nbsp; Made with &nbsp;<i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>&nbsp; by <span style="color:#0fa8e2; font-weight:bolder;">Dhanya</span></p>       
    </div>
</footer>    
