{% extends 'base.html' %}

{% block title %} Purchases {% endblock %}

{% load static %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Purchases</h1>

            <div class="d-flex justify-content-between">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Purchases</li>
                </ol>
            </div>

            <div class="card mb-4 text-primary">
                <div class="card-header">
                    <i class="fa fa-rectangle-list"></i>
                    Purchases
                </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        
                        <thead>
                            <tr>
                                <th width="5%">Id</th>
                                <th width="15%">Product</th>
                                <th width="15%">Invoice No</th>
                                <th width="15%">Vendor</th>
                                <th width="15%">Quantity</th>
                                <th width="15%">Price</th>
                                <th width="15%">Total price</th>
                                <th width="15%">Purchase Date</th>
                                <th width="15%">View Bill</th>
                               
                            </tr>
                        </thead>
                        
                        {% if object_list %}

                        <tbody>
                        {% for i in object_list %}

                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{i.product}}</td>
                                <td>INV{{i.billno}}</td>
                                <td>{{i.vendor }}</td>
                                <td>{{i.quantity|floatformat}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.total_amount}}</td>
                                <td>{{i.purchase_date}}</td>
                                <td><a href="{% url 'purchase-bill' i.billno %}" class="btn ghost-button"><i class="fas fa-file-invoice" style="color: #0fa8e2;"></i></a>
                               
                            </tr>
                        {% endfor %}
                        </tbody>

                        {%  else %}
                        <tbody></tbody> 
                    </table>
                    {% endif %}

                </div>
               
            </div>
        </div>
    </main>
</div>  
{% endblock %}
